<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="server=localhost;user id=app;password=P@ssw0rd;persist security info=True;database=dbtractor;charset=utf8;"
         providerName="System.Data.MySqlClient" />
  </connectionStrings>
</configuration>